@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<StudentPortal.Web.Models.Entities.Student>

<h1>Students List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Admission</th>
            <th>Gender</th>
            <th>Fees</th>
            <th>Email</th>
            <form method="get" asp-controller="Students" asp-action="Search">
            <th>
                <input class="form-control" type="search" name="searchTerm" placeholder="Search Student with their name" aria-label="Search" />
            </th>
            <th>
                <input class="btn btn-secondary" type="submit" value="Search" />
            </th>
            </form>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Phone</td>
                <td>@student.Admission</td>
                <td>@student.Gender</td>
                <td>@student.Fees</td>
                <td>@student.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

